header{
  font-size: 50px;
  text-align: center;
  padding: 20px;
  font-family: "daft";
}
h2{
  font-size: 30px;
  text-align: center;
  padding: 20px;
}
span{
  padding:20px;
}
@font-face {
  font-family: 'daft';
  src: url('../fonts/Daft_Font.eot');
  src: local('☺'), url('../fonts/Daft_Font.woff') format('woff'), url('../fonts/Daft_Font.ttf') format('truetype'), url('../fonts/Daft_Font.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


ul#main {
  height: 444px;
  max-width: 1005px;
  border: 1px solid transparent;
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.totalScore1{
  color:red;
  margin: 30px;
  font-family: "daft";
}

.totalScore2{
  color:blue;
  margin: 30px;
  font-family: "daft";
}

.turn{
  color: purple;
  margin: 30px;
  font-family: "daft";
  font-size: 30px;
  text-align: center;
  padding: 20px;
}

ul > ul {
  vertical-align: top;
}
.shortrow {
  height: 18px;
  max-width: 1003px;
  border: 1px solid transparent;
  list-style: none;
  padding: 0;
}

.tallrow {
  height: 88px;
  max-width: 1003px;  
  border: 1px solid transparent;
  list-style: none;
  padding: 0;

}
.shortrow .narrowcolumn {
  height: 88%;
  width: 1.785%;
  border: 1px solid black;
  list-style: none;
  padding: 0;
  display: inline-block;
  background: black;
  border-radius: 20px;
}


.shortrow .widecolumn {
  height: 88%;
  width: 7.673%;
  border: 7px solid white;
  list-style: none;
  padding: 0;
  display: inline-block;
  box-sizing: border-box;

}

.tallrow .narrowcolumn {
  height: 100%;
  width: 1.785%;
  border: 8px solid white;
  list-style: none;
  padding: 0;
  display: inline-block;
  box-sizing: border-box;
}

.tallrow .widecolumn {
  height: 100%;
  width: 7.673%;
  border: 1px solid transparent;
  list-style: none;
  padding: 0px;
  display: inline-block;
  text-align: center;
  line-height: 87px;
  border-radius: 5px;
}



@-webkit-keyframes fadeIt {
  0%   { background-color: #FFFFFF; }
  100% { background: #000; }
}
@keyframes fadeIt {
  0%   { background-color: #FFFFFF; }
  100% { background: #000; }
}

.backgroundAnimated{    
    background-image:none !important;
    -webkit-animation: fadeIt .3s ease-in 1; 
            animation: fadeIt .3s ease-in 1;
    -webkit-animation-fill-mode:forwards; 
           animation-fill-mode:forwards;
          };