header{
  font-size: 50px;
  text-align: center;
  padding: 20px;
}
h2{
  font-size: 30px;
  text-align: center;
  padding: 20px;
}
span{
  padding:20px;
}
ul {
  height: 444px;
  width: 1005px;
  border: 1px solid white;
  list-style: none;
  padding: 0;
  margin: 0 auto;
}
.shortrow {
  height: 18px;
  width: 1003px;
  border: 1px solid white;
  list-style: none;
  padding: 0;
}

.tallrow {
  height: 88px;
  width: 1003px;
  border: 1px solid white;
  list-style: none;
  padding: 0;

}
.shortrow .narrowcolumn {
  height: 16px;
  width: 18px;
  border: 1px solid white;
  list-style: none;
  padding: 0;
  display: inline-block;
  float: left;
  background: black;
  border-radius: 8px;
}


.shortrow .widecolumn {
  height: 16px;
  width: 87px;
  border: 1px solid white;
  list-style: none;
  padding: 0;
  display: inline-block;
  float: left;
  border-radius: 8px;
}

.tallrow .narrowcolumn {
  height: 87px;
  width: 18px;
  border: 1px solid white;
  list-style: none;
  padding: 0;
  display: inline-block;
  float: left;
  border-radius: 8px;
}

.tallrow .widecolumn {
  height: 87px;
  width: 87px;
  border: 1px solid white;
  list-style: none;
  padding: 0;
  display: inline-block;
  float: left;
  text-align: center;
  line-height: 87px;
  border-radius: 8px;
}

#box1 {
  background-color: white;
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

@-webkit-keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}