header{
  font-size: 50px;
  text-align: center;
  padding: 20px;
}
h2{
  font-size: 30px;
  text-align: center;
  padding: 20px;
}
span{
  padding:20px;
}
ul#main {
  height: 444px;
  max-width: 1005px;
  border: 1px solid white;
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

ul > ul {
  vertical-align: top;
}
.shortrow {
  height: 18px;
  max-width: 1003px;
  border: 1px solid white;
  list-style: none;
  padding: 0;
}

.tallrow {
  height: 88px;
  max-width: 1003px;  
  border: 1px solid white;
  list-style: none;
  padding: 0;

}
.shortrow .narrowcolumn {
  height: 88%;
  width: 1.785%;
  border: 1px solid white;
  list-style: none;
  padding: 0;
  display: inline-block;
  background: black;
  border-radius: 10px;
}


.shortrow .widecolumn {
  height: 88%;
  width: 7.673%;
  border: 1px solid white;
  list-style: none;
  padding: 0;
  display: inline-block;
  border-radius: 8px;
}

.tallrow .narrowcolumn {
  height: 100%;
  width: 1.785%;
  border: 1px solid white;
  list-style: none;
  padding: 0;
  display: inline-block;
/*  float: left;
*/  border-radius: 8px;
}

.tallrow .widecolumn {
  height: 100%;
  width: 7.673%;
  border: 1px solid white;
  list-style: none;
  padding: 0;
  display: inline-block;
/*  float: left;
*/  text-align: center;
  line-height: 87px;
  border-radius: 8px;
}

#box1 {
  background-color: white;
}

@-webkit-keyframes fadeIt {
  0%   { background-color: #FFFFFF; }
  100% { background-color: #000; }
}
@keyframes fadeIt {
  0%   { background-color: #FFFFFF; }
  100% { background-color: #000; }
}

.backgroundAnimated{    
    background-image:none !important;
    -webkit-animation: fadeIt .3s ease-in 1; 
            animation: fadeIt .3s ease-in 1;
    -webkit-animation-fill-mode:forwards; 
           animation-fill-mode:forwards;
          };